* {
  box-sizing: border-box;
}
/*commonly used classes*/
/*background colors*/
.backcolorGreen {
  background-color: #2DC8C1;
}
.backcolorGrey {
  background-color: #7A8D8D;
}
.backcolorLiGrey {
  background-color: #F3F3F3;
}
.backcolorRed {
  background-color: #FF5249;
}
.textColorGreen {
  color: #2DC8C1;
}
textColorRed {
  color: #ff5249;
}
/*background colors*/
.modus {
  font-weight: bold;
  color: white;
}
.button {
  /*properties for all buttons*/
  width: 130px;
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 10%;
}
.sliderposition {
  /*positioning text in slider*/
  text-align: center;
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
}
body {
  padding: 0px;
  margin: 0px;
}
ul,
li,
p {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.hoverButton:hover {
  background-color: #ff5249;
}
.hoverText:hover {
  color: #ff5249;
}
/*commonly used classes*/
/*header section*/
.header {
  width: 100%;
  height: 70px;
  color: white;
  /*modusversus*/
  /*modusversus*/
}
.header .name {
  position: absolute;
  margin: 24px 0 0 13% ;
}
.header .menu {
  display: inline-block;
}
.header .menu ul {
  position: absolute;
  right: 12%;
  top: 25px;
  bottom: auto;
}
.header .menu li {
  display: inline-block;
  text-align: center;
}
.header .menu li a {
  text-decoration: none;
  color: white;
  padding: 13px;
}
.header .menu li a:hover {
  background: #249e99;
  padding: 13px;
  border-radius: 5px;
}
/*header section*/
/*slider section*/
.slider {
  position: relative;
  width: 100%;
  height: 350px;
}
.slider p:first-child {
  /*positioning text in slider*/
  text-align: center;
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
  width: 190px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  border: 1px #ff5249 solid;
  text-transform: uppercase;
  top: 30%;
}
.slider p:last-child {
  /*positioning text in slider*/
  text-align: center;
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
  width: 220px;
  background: #4a5757;
  top: 34%;
}
/* /sliderSection*/
/*information section*/
.information {
  position: relative;
  width: 100%;
  height: 450px;
  /*slider Buttons*/
  /* /slider buttons*/
  /*information about services*/
  /*information about services*/
  /*list of features*/
  /*list of features*/
}
.information .sliderButtons {
  display: inline-block;
}
.information .sliderButtons ul {
  position: absolute;
  left: 42%;
}
.information .sliderButtons ul li {
  display: inline-block;
  list-style-type: none;
  width: 80px;
  height: 5px;
  background-color: #7a8d8d;
}
.information .service {
  position: absolute;
  top: 50px;
  width: 84%;
  height: 70px;
  background-color: #dadada;
  border: 1px transparent solid;
  border-radius: 4px;
  left: 8%;
  padding-left: 2%;
  /*button inside information field*/
  /*button inside information field*/
}
.information .service p:first-child {
  margin-top: 7px;
  margin-bottom: 3px;
  font-size: 23px;
}
.information .service .viewButton {
  text-transform: uppercase;
  color: white;
  position: absolute;
  right: 5%;
  bottom: 14px;
  background-color: #2dc8c1;
  border-radius: 5%;
  line-height: 38px;
  font-size: 18px;
}
.information .service .viewButton:hover {
  background-color: #ff5249;
}
.information .featuresList {
  position: absolute;
  width: 100%;
  top: 130px;
}
.information .featuresList ul {
  width: 1170px;
  margin: 0 auto;
}
.information .featuresList ul li {
  width: 270px;
  height: 250px;
  background-color: #f8f8f8;
  display: inline-block;
  margin-left: 15px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.information .featuresList ul li h1 {
  font-size: 45px;
  margin-bottom: 12px;
  color: #2dc8c1;
}
.information .featuresList ul li h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.information .featuresList ul li p {
  font-size: 15px;
}
.information .featuresList ul li .readmoreButton {
  /*button in each feture*/
  border-radius: 5%;
  color: white;
  font-size: 18px;
  line-height: 38px;
  position: absolute;
  bottom: -20px;
  right: 65px;
  text-transform: lowercase;
}
.information .featuresList ul li:hover {
  background-color: white;
}
.information .featuresList ul li:hover h1 {
  color: #ff5249;
}
.information .featuresList ul li:hover div {
  background-color: #ff5249;
}
/*slider buttons*/
/*examples section*/
.examples {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto;
  background-color: #d7d7d7;
  z-index: 1;
  /*for images*/
}
.examples h1 {
  margin-top: 0;
  padding-top: 30px;
  text-transform: uppercase;
  color: #ff5249;
  text-align: center;
  margin-bottom: 3px;
}
.examples p {
  text-align: center;
}
.examples ul {
  /*list of example images*/
  width: 1170px;
  height: 260px;
  margin: 150px auto;
}
.examples ul li {
  width: 370px;
  height: 260px;
  display: inline-block;
  margin-left: 12px;
}
/*examples section*/
.causes {
  position: relative;
  width: 100%;
  height: 682px;
}
.causes div {
  float: left;
  margin: 210px 100px;
}
.causes div ul li i {
  color: red;
}
.contacts {
  position: absolute;
  width: 100%;
  height: 300px;
}
