@width:100%;
@backcolor: #2DC8C1;
@backcolor2:#7A8D8D;
@backcolor3:#F3F3F3;
@buttcolor:darken(@backcolor, 10%);
@hovercolor:#FF5249;
*{
  box-sizing: border-box;
}
/*commonly used classes*/
/*background colors*/
.backcolorGreen{
  background-color: #2DC8C1;
}

.backcolorGrey{
  background-color:#7A8D8D;
}

.backcolorLiGrey{
  background-color: #F3F3F3;
}
.backcolorRed{
  background-color: #FF5249;
}
.textColorGreen{
  color:#2DC8C1;
}
textColorRed{
  color:#FF5249
}
/*background colors*/

.modus{
  font-weight: bold;
  color: white;
}
.button{ /*properties for all buttons*/
  width: 130px;
  height: 40px;
  text-align:center;
  color:white;
  border-radius: 10%;
}

.sliderposition{ /*positioning text in slider*/
  text-align:center;
  position:relative;
  margin:0 auto;
  border-radius:2px;
}
body{
  padding: 0px;
  margin: 0px;
}
ul, li, p{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.hoverButton{
  &:hover{
    background-color:@hovercolor;
  }
}

.hoverText{
  &:hover{
    color: @hovercolor;
  }
}

/*commonly used classes*/

/*header section*/
.header{
  width:@width;
  height: 70px;
  color: white;
  /*modusversus*/
    .name{
      position: absolute;
      margin:24px 0 0 13% ;
    }
    /*modusversus*/
    .menu{
      display: inline-block;
      ul{
        position: absolute;
        right: 12%;
        top:25px;
        bottom: auto;
      }
      li{
        display: inline-block;
        text-align: center;
          a{
            text-decoration: none;
            color:white;
            padding:13px;
            &:hover{
              background: darken(@backcolor, 10%);
              padding:13px;
              border-radius: 5px;
            }
          }
        }
      }
    }


/*header section*/

/*slider section*/

.slider{
  position: relative;
  width: @width;
  height: 350px;
  p:first-child{
    .sliderposition;
    width:190px;
    color:white;
    font-size:26px;
    font-weight:bold;
    border:1px @hovercolor solid;
    text-transform:uppercase;
    top:30%;
  }
  p:last-child{
    .sliderposition;
    width:220px;
    background:darken(@backcolor2, 20%);
    top:34%;
    }
}
/* /sliderSection*/

/*information section*/
.information{
  position: relative;
  width: @width;
  height:450px;
/*slider Buttons*/
.sliderButtons{
  display: inline-block;
  ul{
    position: absolute;
    left: 42%;
    li{
      display: inline-block;
      list-style-type: none;
      width: 80px;
      height: 5px;
      background-color: @backcolor2;
    }
}
}
/* /slider buttons*/

/*information about services*/
.service{
  position: absolute;
  top:50px;
  width: 84%;
  height: 70px;
  background-color: darken(@backcolor3, 10%);
  border: 1px transparent solid;
  border-radius: 4px;
  left: 8%;
  padding-left:2%;
  p:first-child{
    margin-top:7px;
    margin-bottom:3px;
    font-size:23px;
  }
  /*button inside information field*/
  .viewButton{
      text-transform: uppercase;
      color:white;
      position: absolute;
      right: 5%;
      bottom: 14px;
      background-color: @backcolor;
      border-radius: 5%;
      line-height:38px;
      font-size:18px;
      .hoverButton;
  }
  /*button inside information field*/
}

/*information about services*/

/*list of features*/
.featuresList{
    position: absolute;
    width: @width;
    top: 130px;
    ul{
      width: 1170px;
      margin: 0 auto;
      li{
        width: 270px;
        height: 250px;
        background-color: lighten(@backcolor3,2%);
        display: inline-block;
        margin-left: 15px;
        border-radius: 4px;
        h1{
            font-size: 45px;
            margin-bottom: 12px;
            color:@backcolor;
        }
        h3{
          font-size: 18px;
          margin-bottom: 15px;
        }
        p{
          font-size: 15px;
        }
        text-align: center;
        cursor: pointer;
        position: relative;
        .readmoreButton{ /*button in each feture*/
          border-radius: 5%;
          color:white;
          font-size:18px;
          line-height: 38px;
          position: absolute;
          bottom: -20px;
          right: 65px;
          text-transform: lowercase;
        }
        &:hover{
          background-color:white;
          h1{
            color:@hovercolor;
          }
          div{
            background-color:@hovercolor;
          }
        }
      }
    }
}
/*list of features*/
}
/*slider buttons*/

/*examples section*/
.examples{
  width: @width;
  height: 400px;
  position:relative;
  margin: 0 auto;
  background-color: darken(@backcolor3, 11%);
  z-index: 1; /*for images*/
  h1{
    margin-top: 0;
    padding-top: 30px;
    text-transform: uppercase;
    color:@hovercolor;
    text-align: center;
    margin-bottom: 3px;
  }
  p{
    text-align: center;
  }
  ul{ /*list of example images*/
    width: 1170px;
    height: 260px;

    margin: 150px auto;
    li{
      width: 370px;
      height: 260px;
      display: inline-block;
      margin-left: 12px;
    }
  }
}
/*examples section*/

.causes{
  position: relative;
  width: @width;
  height: 682px;
  div{
    float: left;
    margin:210px 100px;
    ul{
      li{
        i{
          color: red;
          }
        }
      }
    }
  }


.contacts{
  position: absolute;
  width: @width;
  height: 300px;

}
